{% extends "superhero_theme.html" %}

{% block title %}Delete Superhero{% endblock %}

{% block content %}
<h1>Delete {{ superhero.name }}?</h1>

<p>Are you sure you want to delete the superhero <strong>{{ superhero.name }}</strong>?</p>
<p>This action cannot be undone.</p>

<form action="" method="post">
    {% csrf_token %}
    
    <!-- Delete button -->
    <button type="submit" class="btn btn-danger">Delete</button>

    <!-- Cancel button -->
    <a class="btn btn-secondary" href="{% url 'hero-detail' superhero.pk %}">Cancel</a>
</form>

{% endblock %}
