{% extends "superhero_theme.html" %}
{% load static %}
{% block title %}My Superhero Page{% endblock %}
{% block content %}
<h1>My Superhero Page</h1>
<table class="table table-hover">
    <thead>
        <th>Superhero</th>
        <th>Image</th>
        <th>Description</th>
        <th>Identity</th>
        <th>Strengths</th>
        <th>Weaknesses</th>
    </thead>
<tbody>
{% for hero in superheroes %}
    <tr>
        <td><a href="{% url 'hero-detail' hero.id %}">{{ hero.name }}</a></td>
        <td>
            <a href="{% url 'hero-detail' hero.id %}">
                <img src="{{ hero.photo.image.url }}" alt="{{ hero.name }}" width="100">
            </a>
        </td>
        <td>{{ hero.description }}</td>
        <td>{{ hero.identity }}</td>
        <td>{{ hero.strengths }}</td>
        <td>{{ hero.weaknesses }}</td>
    </tr>
{% endfor %}
</tbody>
</table>

<a class="btn btn-primary" href="{% url 'hero-add' %}">Add Superhero</a>

<a class="btn btn-success" href="{% url 'export_heroes' 'csv' %}">Export to CSV</a>
<a class="btn btn-info" href="{% url 'export_heroes' 'json' %}">Export to JSON</a>
{% endblock %}