{% extends 'superhero_theme.html' %}
{% block title %}Superhero{% endblock %}
{% block content %}
    <h2>Superhero</h2>
    <p>Superhero is a web application that allows users to create and manage their own superhero characters. Users can create a superhero character by selecting a name, image, and description. Users can also view a list of all superhero characters created by all users.</p>
    <a href="{% url 'hero-list' %}">View Characters</a>
    <a href="{% url 'article-list' %}">View Articles</a>
    <a href="{% url 'investigator-list' %}">View Investigators</a>
    <a href="{% url 'photo-list' %}">View Photos</a>
{% endblock %}